.titulo{
    color: whitesmoke;
    text-align: center;
}
.moviesGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap:40px;
    padding: 40px;
    justify-content: center;
}